@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "space_grotesk";
  src: url("../fonts/space_grotesk/SpaceGrotesk-VariableFont_wght.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "space_grotesk", Arial, Helvetica, sans-serif;
}

input {
  outline: none;
}

.--box-shadow-cards {
  box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.1);
}

.--input:focus {
  border: solid hsl(249deg, 99%, 64%) 2px !important;
}
.--input.error {
  border: solid hsl(0deg, 100%, 66%) 2px !important;
}

.--colors.white.bg {
  background-color: hsl(0deg, 0%, 100%);
}
.--colors.white.color {
  color: hsl(0deg, 0%, 100%);
}
.--colors.violet-light.bg {
  background-color: hsl(270deg, 3%, 87%);
}
.--colors.violet-light.color {
  color: hsl(270deg, 3%, 87%);
}
.--colors.violet-light.bd {
  border: solid hsl(270deg, 3%, 87%) 2px;
}
.--colors.violet-dark.bg {
  background-color: hsl(279deg, 6%, 55%);
}
.--colors.violet-dark.color {
  color: hsl(279deg, 6%, 55%);
}
.--colors.violet-dark.bd {
  border: solid hsl(279deg, 6%, 55%) 2px;
}
.--colors.violet-dark.more.bg {
  background-color: hsl(278deg, 68%, 11%);
}
.--colors.violet-dark.more.color {
  color: hsl(278deg, 68%, 11%);
}
.--colors.violet-dark.more.bd {
  border: solid hsl(278deg, 68%, 11%) 2px;
}